@use "sass:math";
@import "../../common/variables";

<<<<<<< HEAD
$section-default-min-height: 50px;
$section-default-padding: $pt-grid-size * 2;

$section-small-min-height: 40px;
$section-small-padding: 15px;

.#{$ns}-section {
=======
$section-min-height: $pt-grid-size * 5 !default;
$section-vertical-padding: $pt-grid-size !default;
$section-horizontal-padding: $pt-grid-size * 2 !default;
$section-panel-padding: $pt-grid-size * 2 !default;

$section-compact-min-height: $pt-grid-size * 4 !default;
$section-compact-vertical-padding: 7px !default;
$section-compact-horizontal-padding: 15px !default;
$section-compact-panel-padding: $pt-grid-size * 1.5 !default;

.#{$ns}-section {
  overflow: hidden;
>>>>>>> 253ad84de41afc11eb2e702a20c55b300ff3db44
  padding: 0;
  width: 100%;

  &-header {
    align-items: center;
    border-bottom: 1px solid $pt-divider-black;
    display: flex;
    gap: $pt-grid-size * 2;
    justify-content: space-between;
    min-height: $section-min-height;
    padding: 0 $section-horizontal-padding;
    position: relative;
    width: 100%;

    &.#{$ns}-dark,
    .#{$ns}-dark & {
      border-color: $pt-dark-divider-white;
    }

    &-left {
      align-items: center;
      display: flex;
      gap: $pt-grid-size;
      padding: $section-vertical-padding 0;
    }

    &-title {
      margin-bottom: 0;
    }

    &-sub-title {
      margin-top: 2px;
    }

    &-right {
      align-items: center;
      display: flex;
      gap: $pt-grid-size;
      margin-left: auto;
    }

    &-divider {
      align-self: stretch;
      margin: $pt-grid-size * 1.5 0;
    }

    &.#{$ns}-interactive {
      cursor: pointer;

      &:hover,
      &:active {
        background: $light-gray5;

        &.#{$ns}-dark,
        .#{$ns}-dark & {
          background: $dark-gray4;
        }
      }
    }
  }

  &-panel {
    &.#{$ns}-padded {
      padding: $section-panel-padding;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $pt-divider-black;

      &.#{$ns}-dark,
      .#{$ns}-dark & {
        border-color: $pt-dark-divider-white;
      }
    }
  }

  &.#{$ns}-section-collapsed {
    .#{$ns}-section-header {
      border: none;
    }
  }

  &.#{$ns}-compact {
    .#{$ns}-section-header {
      min-height: $section-compact-min-height;
      padding: 0 $section-compact-horizontal-padding;

      &-left {
        padding: $section-compact-vertical-padding 0;
      }
    }

    .#{$ns}-section-panel.#{$ns}-padded {
      padding: $section-compact-panel-padding;
    }
  }
}
