@use "sass:math";
@import "../../common/variables";

$section-min-height: $pt-spacing * 12.5 !default;
$section-padding-vertical: $pt-spacing * 2 !default;
$section-padding-horizontal: $pt-spacing * 5 !default;
$section-card-padding: $pt-spacing * 5 !default;

$section-min-height-compact: $pt-spacing * 10 !default;
$section-padding-compact-vertical: $pt-spacing * 2 !default;
$section-padding-compact-horizontal: $pt-spacing * 4 !default;
$section-card-padding-compact: $pt-spacing * 4 !default;

.#{$ns}-section {
  overflow: hidden;
  width: 100%;

  &,
  &.#{$ns}-compact {
    // override Card compact styles here
    padding: 0;
  }

  &-header {
    align-items: center;
    border-bottom: 1px solid var(--bp-surface-border-color-default);
    display: flex;
    gap: calc(var(--bp-surface-spacing) * 5);
    justify-content: space-between;
    min-height: calc(var(--bp-surface-spacing) * 12.5);
    padding: 0 calc(var(--bp-surface-spacing) * 5);
    position: relative;
    width: 100%;

    &-left {
      align-items: center;
      display: flex;
      gap: calc(var(--bp-surface-spacing) * 2);
      padding: calc(var(--bp-surface-spacing) * 2) 0;
    }

    &-title {
      margin-bottom: 0;
    }

    &-sub-title {
      margin-top: calc(var(--bp-surface-spacing) * 0.5);
    }

    &-right {
      align-items: center;
      display: flex;
      gap: calc(var(--bp-surface-spacing) * 2);
      margin-left: auto;
    }

    &-collapse-caret {
      display: inline-flex;
      justify-content: center;
      vertical-align: middle;
    }

    &-divider {
      align-self: stretch;
      margin: calc(var(--bp-surface-spacing) * 4) 0;
    }

    &.#{$ns}-interactive {
      cursor: pointer;

      &:hover,
      &:active {
        background: var(--bp-surface-background-color-default-hover);
      }
    }
  }

  &-card {
    &.#{$ns}-padded {
      padding: calc(var(--bp-surface-spacing) * 5);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--bp-surface-border-color-default);
    }
  }

  &.#{$ns}-section-collapsed {
    .#{$ns}-section-header {
      border: none;
    }
  }

  &.#{$ns}-compact {
    .#{$ns}-section-header {
      min-height: calc(var(--bp-surface-spacing) * 10);
      padding: 0 calc(var(--bp-surface-spacing) * 4);

      &-left {
        padding: calc(var(--bp-surface-spacing) * 2) 0;
      }
    }

    .#{$ns}-section-card.#{$ns}-padded {
      padding: calc(var(--bp-surface-spacing) * 4);
    }
  }
}
