{
  "extends": [
    "stylelint-config-palantir",
    "stylelint-config-palantir/sass.js"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "indentation": [2, {
      "ignore": ["value"]
    }],
    "max-line-length": [
      100,
      { "ignore": ["comments"] }
    ],
    "selector-max-universal": 1
  }
}
