{
  "extends": [
    "stylelint-config-palantir",
    "stylelint-config-palantir/sass.js"
  ],
  "rules": {
    "max-line-length": [
      100,
      { "ignore": ["comments"] }
    ],
    "selector-no-attribute": null
  }
}
