{
  "extends": [
    "stylelint-config-palantir",
    "stylelint-config-palantir/sass.js"
  ],
  "plugins": [
    "@blueprintjs/stylelint-plugin"
  ],
  "rules": {
    "@blueprintjs/no-prefix-literal": [true, { "disableFix": true }],
    "@blueprintjs/no-color-literal": [true, { "disableFix": true }],
    "color-function-notation": "legacy",
    "declaration-empty-line-before": null,
    "indentation": [2, {
      "ignore": ["value"]
    }],
    "max-line-length": [
      100,
      { "ignore": ["comments"] }
    ],
    "no-invalid-position-at-import-rule": [true, {
        "ignoreAtRules": ["use"]
    }],
    "selector-max-universal": 1
  }
}
