.docs-code-example-frame {
  display: flex;
  flex-direction: column;
  margin-top: calc(var(--bp-spacing) * 5);
  position: relative;
  width: 100%;
}

.docs-code-example {
  align-items: center;
  background: var(--bp-app-secondary-background-color);
  border-radius: var(--bp-border-radius);
  display: flex;
  justify-content: center;
  padding: calc(var(--bp-spacing) * 5);
}

.docs-code-example-toolbar {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding-top: 8px;
}
