.docs-code-example-frame {
  display: flex;
  flex-direction: column;
  margin-top: $pt-spacing * 5;
  position: relative;
  width: 100%;
}

.docs-code-example {
  align-items: center;
  background-color: rgba($pt-app-elevated-background-color, 0.5);
  border-radius: $pt-border-radius * 2;
  border: 1px solid $light-gray3;
  border-radius: $pt-border-radius * 2;
  display: flex;
  justify-content: center;
  padding: $pt-spacing * 5;

  .#{$ns}-dark & {
    background-color: rgba($pt-dark-app-background-color, 0.5);
    border: 1px solid $dark-gray3;
  }
}
