@import "~@blueprintjs/core/lib/css/blueprint-modern.css";
@import "~@blueprintjs/colors/lib/scss/colors";
@import "~@blueprintjs/core/lib/scss/variables";

$background-color: $light-gray2;
$content-background-color: $light-gray4;
$dark-background-color: $dark-gray2;
$dark-content-background-color: $dark-gray3;

.examples-root {
  align-items: center;
  background-color: $background-color;
  display: flex;
  flex-direction: row;
}

.examples-container {
  align-items: center;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  &.#{$ns}-dark {
    background-color: $dark-background-color;
  }
}

.example-row {
  display: flex;

  > :not(:last-child) {
    margin-right: 10px;
  }
}

.example-card {
  background-color: $content-background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  > :not(:last-child) {
    margin-bottom: 10px;
  }

  &.horizontal {
    flex-direction: row;
    justify-content: center;

    > :not(:last-child) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.tag-container {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 10px;
  }
}

.html-table-example {
  .#{$ns}-intent-primary {
    color: $blue1;
  }
  .#{$ns}-intent-success {
    color: $green1;
  }
  .#{$ns}-intent-warning {
    color: $orange1;
  }
  .#{$ns}-intent-danger {
    color: $red1;
  }

  .#{$ns}-dark & {
    .#{$ns}-intent-primary {
      color: $blue5;
    }
    .#{$ns}-intent-success {
      color: $green5;
    }
    .#{$ns}-intent-warning {
      color: $orange5;
    }
    .#{$ns}-intent-danger {
      color: $red5;
    }
  }
}
