// Copyright 2018 Palantir Technologies, Inc. All rights reserved.

@import "../../common/variables";
@import "~@blueprintjs/core/src/common/react-transition";

.#{$ns}-panel-stack {
  position: relative;
  overflow: hidden;

  .#{$ns}-panel-stack-transition-push {
    @include react-transition-phase(
      "#{$ns}-panel-stack-transition-push",
      "enter",
      (transform: translateX(100%) translate(0%)),
      $before: "&"
    );

    @include react-transition-phase(
      "#{$ns}-panel-stack-transition-push",
      "exit",
      (transform: translateX(0%) translate(-100%)),
      $before: "&"
    );
  }

  .#{$ns}-panel-stack-transition-pop {
    @include react-transition-phase(
      "#{$ns}-panel-stack-transition-pop",
      "enter",
      (transform: translateX(-100%) translate(0%)),
      $before: "&"
    );

    @include react-transition-phase(
      "#{$ns}-panel-stack-transition-pop",
      "exit",
      (transform: translateX(0%) translate(100%)),
      $before: "&"
    );
  }
}

.#{$ns}-panel-stack-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: $pt-z-index-content + 2;
  box-shadow: 0 1px $pt-divider-black;
  height: $pt-grid-size * 3;

  .#{$ns}-dark & {
    box-shadow: 0 1px $pt-dark-divider-white;
  }

  .#{$ns}-panel-stack-header-back {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $pt-text-color-muted;

    .#{$ns}-dark & {
      color: $pt-dark-text-color-muted;
    }

    &:hover {
      color: $pt-text-color;

      .#{$ns}-dark & {
        color: $pt-dark-text-color;
      }
    }
  }

  .#{$ns}-panel-stack-header-spacer {
    display: flex;
    flex: 1;
    align-items: stretch;
  }

  .#{$ns}-panel-stack-header-title {
    margin: 0 $pt-grid-size;
    color: $pt-text-color;
    font-weight: 600;

    .#{$ns}-dark & {
      color: $pt-dark-text-color;
    }
  }
}

.#{$ns}-panel-stack-view {
  display: flex;
  flex-direction: column;
  @include position-all(absolute, 0);
  background-color: $white;
  overflow-y: auto;

  .#{$ns}-dark & {
    background-color: $dark-gray4;
  }
}
