@use "sass:math";
@import "../../common/variables";

.#{$ns}-segmented-control {
  background-color: var(--bp-surface-background-color-default-rest);
  border-radius: var(--bp-surface-border-radius);
  display: flex;
  gap: calc(var(--bp-surface-spacing) * 0.5);
  padding: calc(var(--bp-surface-spacing) * 0.5);

  &.#{$ns}-inline {
    display: inline-flex;
  }

  &.#{$ns}-fill {
    width: 100%;

    > .#{$ns}-button {
      flex-grow: 1;
    }
  }

  > .#{$ns}-button:not(.#{$ns}-minimal) {
    &:not(.#{$ns}-intent-primary) {
      background-color: var(--bp-palette-white);

      .#{$ns}-dark & {
        background-color: var(--bp-palette-dark-gray-5);
      }
    }
  }

  > .#{$ns}-button.#{$ns}-minimal {
    color: var(--bp-typography-color-muted);
  }

  > .#{$ns}-button.#{$ns}-minimal:disabled {
    color: var(--bp-typography-color-default-disabled);
  }
}
