@use "sass:math";
@import "../../common/variables";

.#{$ns}-segmented-control {
  background-color: $light-gray5;
  border-radius: $pt-border-radius;
  display: flex;
  gap: 3px;
  padding: 3px;

  > .#{$ns}-button:not(.#{$ns}-minimal) {
    box-shadow: 0 0 0 1px $pt-divider-black-muted;

    &:not(.#{$ns}-primary) {
      background-color: $white;

      .#{$ns}-dark & {
        background-color: $dark-gray5;
      }
    }
  }

  > .#{$ns}-button.#{$ns}-minimal {
    color: $pt-text-color-muted;

    .#{$ns}-dark & {
      color: $pt-dark-text-color-muted;
    }
  }

  .#{$ns}-dark & {
    background-color: $dark-gray3;
  }
}
