version: 2
jobs:
  install-dependencies:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - restore_cache:
          keys:
            - v7-dependency-cache-{{ checksum "yarn.lock" }}
            - v7-dependency-cache-
      - run: yarn
      - run: echo "Checking if lockfiles changed..." && git diff --exit-code
      - run: npm rebuild node-sass
      - save_cache:
          key: v7-dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - persist_to_workspace:
          root: '.'
          paths:
            - yarn.lock

  compile:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          keys:
            - v7-dependency-cache-{{ checksum "yarn.lock" }}
            - v7-dependency-cache-
      - run: yarn compile
      - persist_to_workspace:
          root: '.'
          paths:
            - packages/*/dist
            - packages/*/lib
            - packages/*/src/generated

  lint:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          keys:
            - v7-dependency-cache-{{ checksum "yarn.lock" }}
            - v7-dependency-cache-
      - run: yarn lint

  dist:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: v7-dependency-cache-{{ checksum "yarn.lock" }}
      - run: yarn dist:libs
      - run: yarn dist:apps
      # we don't need to run dist:docs here until we start publishing GitHub Pages from CI
      - persist_to_workspace:
          root: '.'
          paths:
            - packages/*/dist
            - packages/*/lib

  test:
    docker:
      - image: circleci/node:8
    parallelism: 7
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: v7-dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          command: |
              case $CIRCLE_NODE_INDEX in \
              0) yarn lerna run test --scope '@blueprintjs/core' ;; \
              1) yarn lerna run test --scope '@blueprintjs/datetime' ;; \
              2) yarn lerna run test --scope '@blueprintjs/icons' ;; \
              3) yarn lerna run test --scope '@blueprintjs/labs' ;; \
              4) yarn lerna run test --scope '@blueprintjs/select' ;; \
              5) yarn lerna run test --scope '@blueprintjs/table' ;; \
              6) yarn lerna run test --scope '@blueprintjs/timezone' ;; \
              esac

  deploy-preview:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - store_artifacts:
          path: docs
      - store_artifacts:
          path: packages/docs-app/dist
      - store_artifacts:
          path: packages/landing-app/dist
      - store_artifacts:
          path: packages/table-dev-app/dist
      - run:
          name: Submit Github comment with links to built artifacts
          command: ./scripts/submit-preview-comment

  deploy-npm:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - restore_cache:
          key: v7-dependency-cache-{{ checksum "yarn.lock" }}
      - run: ./scripts/publish-npm-semver-tagged

workflows:
  version: 2
  compile_lint_test_dist_deploy:
    jobs:
      - install-dependencies
      - compile:
          requires: [install-dependencies]
      - lint:
          requires: [install-dependencies]
      - dist:
          requires: [compile]
      - test:
          requires: [compile]
      - deploy-preview:
          requires: [dist]
      - deploy-npm:
          requires: [dist]
          filters:
            branches:
              only:
                - develop
                - /^release\/.*/
