// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@use "@blueprintjs/core/src/common/variables";
@use "@blueprintjs/core/src/common/color-aliases";
@use "../common";

.#{variables.$ns}-table-null {
  color: color-aliases.$pt-text-color-disabled;
}

.#{variables.$ns}-table-truncated-value {
  left: variables.$pt-grid-size;
  max-height: 100%;

  overflow: hidden;
  position: absolute;
  // note: changing this value can throw off the width calculation in truncated popover
  right: variables.$pt-grid-size * 3.5;
  text-overflow: ellipsis;
  top: 0;
}

.#{variables.$ns}-table-truncated-format-text {
  left: variables.$pt-grid-size;
  max-height: 100%;

  overflow: hidden;
  position: absolute;
  // note: changing this value can throw off the width calculation in truncated popover
  right: variables.$pt-grid-size;
  text-overflow: ellipsis;
  top: 0;
}

.#{variables.$ns}-table-truncated-popover-target {
  border-radius: variables.$pt-border-radius;
  bottom: 0;
  cursor: pointer;

  opacity: 0.3;

  padding: 0 variables.$pt-grid-size * 0.5;
  position: absolute;
  right: variables.$pt-grid-size * 0.5;
  text-align: center;
  top: 0;

  .#{variables.$ns}-icon-standard {
    line-height: common.$cell-height;
  }

  &.#{variables.$ns}-popover-open {
    opacity: 1;

    .#{variables.$ns}-icon-standard {
      color: color-aliases.$pt-intent-primary;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.#{variables.$ns}-table-truncated-popover {
  font-family: variables.$pt-font-family-monospace;
  max-height: 30 * variables.$pt-grid-size;
  max-width: 60 * variables.$pt-grid-size;
  min-width: 20 * variables.$pt-grid-size;
  overflow: auto;
  padding: variables.$pt-grid-size variables.$pt-grid-size;
}

.#{variables.$ns}-table-popover-whitespace-pre {
  white-space: pre;
}

.#{variables.$ns}-table-popover-whitespace-normal {
  white-space: normal;
}
