.#{$ns}-dialog-body {
  flex: 1 1 auto;
  padding: $dialog-padding;
}

.#{$ns}-dialog-body-no-padding {
  padding: 0;
}

.#{$ns}-dialog-body-scroll-container {
  max-height: 70vh;
  overflow: auto;
}
