// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../../common/variables";
@import "../../common/mixins";

.#{$ns}-key-combo {
  align-items: center;

  &:not(.#{$ns}-minimal) {
    @include pt-flex-container(row, var(--bp-spacing));
  }

  &.#{$ns}-minimal {
    @include pt-flex-container(row);
  }
}

.#{$ns}-hotkey-dialog {
  padding-bottom: 0;
  top: calc(10 * var(--bp-spacing));

  .#{$ns}-dialog-body {
    margin: 0;
    padding: 0;
  }

  .#{$ns}-hotkey-label {
    flex-grow: 1;
  }
}

.#{$ns}-hotkey-column {
  margin: auto;
  padding: calc(7.5 * var(--bp-spacing));

  .#{$ns}-heading {
    margin-bottom: calc(5 * var(--bp-spacing));

    &:not(:first-child) {
      margin-top: calc(10 * var(--bp-spacing));
    }
  }
}

.#{$ns}-hotkey {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;

  &:not(:last-child) {
    margin-bottom: calc(2.5 * var(--bp-spacing));
  }
}
