@import "../node_modules/@blueprintjs/core/dist/blueprint.css";
@import "../node_modules/@blueprintjs/core/dist/variables";
@import "svgs";
@import "overrides";

$mobile-breakpoint: 425px;
$tablet-breakpoint: 768px;

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.pt-container {
  margin: 0 auto;
  max-width: $pt-grid-size * 96;
  padding: 0 $pt-grid-size * 2;
}

header {
  position: relative;
  margin: 0;
  background-color: transparent;
  height: $pt-grid-size * 60;
  overflow: hidden;
  text-align: center;
  user-select: none;

  .pt-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
    z-index: $pt-z-index-base;
    pointer-events: none;
  }

  h1 {
    clear: both;
    margin: 0 auto;
    margin-top: $pt-grid-size * 33;
    line-height: 1.2;
    color: $white;
    font-weight: 400;
  }

  h3 {
    opacity: 0.8;
    margin-top: $pt-grid-size * 3;
    margin-bottom: $pt-grid-size * 3;
    color: $white;
    font-weight: 400;
  }

  .pt-button.pt-minimal {
    position: relative;
    text-transform: uppercase;
    color: rgba($white, 0.7);
    font-weight: 500;
    pointer-events: all;

    &:hover {
      background-color: rgba($white, 0.2);
      color: rgba($white, 0.7);
    }

    &:active {
      background-color: rgba($white, 0.4);
      color: $white;
    }
  }

  .pt-icon-dot {
    color: rgba($white, 0.5);
  }

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}

.pt-info {
  position: relative;
  box-shadow: $pt-dark-elevation-shadow-2;
  background-color: $white;
  padding: 0 0 $pt-grid-size * 9;

  .pt-description {
    position: relative;
    margin-bottom: $pt-grid-size * 10;
    box-shadow: inset 0 -1px 0 rgba($black, 0.1);
    background: $white;
    background-image: linear-gradient(to right, $white, $light-gray4);
    overflow: hidden;
    padding: $pt-grid-size * 9 0;

    .pt-container {
      position: relative;
      z-index: $pt-z-index-content;

      h2 {
        margin-bottom: $pt-grid-size * 3;
        max-width: calc(50% - #{$pt-grid-size * 5});
        line-height: 1.3em;
        font-weight: 400;
      }

      .pt-running-text {
        position: relative;
        z-index: $pt-z-index-content;
        margin-bottom: $pt-grid-size * 2.5;
        max-width: calc(50% - #{$pt-grid-size * 4});
        color: $pt-text-color-muted;
      }

      .pt-button {
        margin: $pt-grid-size 0 0;

        &.pt-intent-primary {
          margin-right: $pt-grid-size * 2;
        }
      }
    }

    .pt-components {
      position: absolute;
      top: 0;
      left: 50%;
      opacity: 0.8;
      background: no-repeat url("resources/img/components@2x.png") center center;
      background-size: auto 100%;
      width: $pt-grid-size * 80;
      height: $pt-grid-size * 60;
    }
  }

  .pt-features {
    display: flex;
  }

  .pt-feature-column {
    flex: 0 0 50%;

    &:not(:first-child) {
      padding-left: $pt-grid-size * 4;
    }

    &:not(:last-child) {
      padding-right: $pt-grid-size * 4;
    }
  }

  .pt-feature {
    color: $pt-text-color-muted;

    &:not(:first-child) {
      padding-top: $pt-grid-size * 6;
    }

    h4 {
      margin-top: $pt-grid-size / 2;
      font-weight: 400;
    }

    img {
      float: left;
      margin-right: $pt-grid-size * 3;
      margin-bottom: $pt-grid-size * 5;
      width: $pt-grid-size * 7;
      height: $pt-grid-size * 7;
    }
  }
}

.pt-getting-started {
  $background-color: $dark-gray2;

  position: relative;
  box-shadow: 0 1px 0 rgba($black, 0.8);
  background-image: radial-gradient(
    ellipse farthest-side at center -30 * $pt-grid-size,
    rgba($background-color, 0) 0%,
    $background-color 100%
  );
  padding: $pt-grid-size * 9 0;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

  &::before {
    z-index: $pt-z-index-base - 2;
    background-color: $background-color;
  }

  &::after {
    z-index: $pt-z-index-base - 1;
    background: url("resources/img/grid.svg");
  }

  h2 {
    position: relative;
    margin-bottom: $pt-grid-size * 7;
    text-align: center;
    font-weight: 300;
  }

  .pt-steps {
    position: relative;
    z-index: $pt-z-index-base;
    margin: 0 auto;
    max-width: $pt-grid-size * 54;
    padding: 0 $pt-grid-size * 2;
  }

  .pt-step {
    margin: $pt-grid-size * 5 0 0;

    .pt-step-number {
      float: left;
      margin-right: $pt-grid-size * 2;
      margin-bottom: $pt-grid-size  * 7;
      border-radius: $pt-grid-size * 10;
      background-color: $blue3;
      width: $pt-grid-size * 3;
      height: $pt-grid-size * 3;
      text-align: center;
      line-height: 2.2;
    }

    h4 {
      line-height: 1.5;
      font-weight: 300;
    }

    p {
      margin: $pt-grid-size * 2 $pt-grid-size * 5;
    }

    pre {
      margin: $pt-grid-size * 1.7 $pt-grid-size * 5;
    }

    .pt-button {
      display: inline-block;
      margin-top: $pt-grid-size;

      &.pt-intent-primary {
        margin-right: $pt-grid-size * 2;
      }
    }
  }
}

.pt-about {
  background-color: $dark-gray1;
  background-image: radial-gradient(
    ellipse farthest-side at center 70 * $pt-grid-size,
    $dark-gray1 0%,
    $black 100%
  );
  padding: $pt-grid-size * 9 0 0;
  text-align: center;

  img {
    display: inline-block;
    margin-bottom: $pt-grid-size * 3;
    width: $pt-grid-size * 6;
  }

  p {
    font-size: $pt-grid-size * 1.7;
  }

  .pt-hiring {
    position: relative;
    margin-top: $pt-grid-size * 11;
    font-weight: 300;

    &::before {
      position: absolute;
      top: -$pt-grid-size * 6;
      left: 50%;
      transform: translateX(-50%);
      background-color: $dark-gray5;
      width: $pt-grid-size * 4;
      height: 2px;
      content: "";
    }

    .pt-button {
      margin-top: $pt-grid-size * 3;
    }
  }
}

.pt-copyright {
  position: relative;
  margin-top: $pt-grid-size * 9;
  text-align: left;

  &::before {
    display: block;
    background-image: linear-gradient(
      90deg,
      rgba($white, 0) 0%,
      rgba($white, 0.3) 50%,
      rgba($white, 0) 100%
    );
    height: 1px;
    content: "";
  }

  .pt-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: ($pt-grid-size * 2);
  }
}

// no need create variables for these
// stylelint-disable media-feature-name-no-vendor-prefix, scss/media-feature-value-dollar-variable
// for greater resolution than retina
@media (min-resolution: 216dpi) {
  .pt-info .pt-description .pt-components {
    background-image: url("resources/img/components@3x.png");
  }
}
// stylelint-enable media-feature-name-no-vendor-prefix, scss/media-feature-value-dollar-variable

@media (max-width: $tablet-breakpoint) {
  .pt-info {
    padding-bottom: $pt-grid-size * 8;

    .pt-description {
      margin-bottom: $pt-grid-size * 8;
      background-image: linear-gradient(to bottom, $white, $light-gray4);
      padding-top: $pt-grid-size * 5;
      padding-bottom: $pt-grid-size * 25;

      .pt-container {
        h2 {
          margin-bottom: $pt-grid-size * 2;
          max-width: none;
          text-align: left;
          font-size: 1.5em;
        }

        .pt-running-text {
          margin-bottom: $pt-grid-size * 2;
          max-width: none;
        }
      }

      .pt-components {
        top: auto;
        right: 0;
        bottom: -$pt-grid-size * 35;
        left: 0;
        opacity: 0.5;
        background-position: center center;
        width: auto;
      }
    }

    .pt-feature {
      img {
        float: none;
        margin-bottom: $pt-grid-size / 2;
        margin-left: -$pt-grid-size / 2;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  header {
    h1 {
      font-size: $pt-grid-size * 3.6;
    }

    h3 {
      margin-bottom: $pt-grid-size * 2.5;
      font-size: $pt-grid-size * 1.8;
    }
  }

  .pt-info {
    padding: 0;

    .pt-description {
      margin-bottom: $pt-grid-size;
    }

    .pt-button {
      width: 100%;

      &.pt-intent-primary {
        margin-bottom: $pt-grid-size * 2;
      }
    }
  }

  .pt-features {
    flex-direction: column;
    padding: 0 0 $pt-grid-size * 5;

    .pt-feature-column {
      &:not(:first-child),
      &:not(:last-child) {
        padding: 0 $pt-grid-size * 2;
      }
    }

    .pt-feature,
    .pt-feature:not(:first-child) {
      padding-top: $pt-grid-size * 4;

      img {
        float: none;
        margin-bottom: $pt-grid-size / 2;
        margin-left: -$pt-grid-size / 2;
      }
    }
  }

  .pt-getting-started {
    display: none;
  }

  .pt-about {
    padding: $pt-grid-size * 5 0 0;

    .pt-hiring {
      margin-top: $pt-grid-size * 6;

      &::before {
        top: -$pt-grid-size * 3.2;
      }

      .pt-button {
        margin-top: $pt-grid-size * 2;
      }
    }
  }

  .pt-copyright {
    margin-top: $pt-grid-size * 5;

    &::before {
      background: $pt-dark-divider-white;
    }
  }
}
