// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@use "sass:color";
@import "../common/loading";
@import "../common/variables";
@import "../cell/common";
@import "./common";

@function menu-background($color) {
  @return linear-gradient(90deg, rgba($color, 0) 0%, $color 50%);
}

// when selection is disabled, header background color doesn't change on hover.
$header-menu-hover-background: menu-background($header-background-color);
$dark-header-menu-hover-background: menu-background($dark-header-background-color);

// when selection is enabled, background color changes on hover; need to match that.
$selectable-header-menu-hover-background: menu-background($header-hover-background-color);
$selectable-header-menu-selected-background: menu-background(
  color.mix($pt-intent-primary, $header-background-color, 10%)
);
$selectable-header-menu-selected-hover-background: menu-background(
  color.mix($pt-intent-primary, $header-hover-background-color, 10%)
);
$dark-selectable-header-menu-hover-background: menu-background($dark-header-hover-background-color);
$dark-selectable-header-menu-selected-background: menu-background(
  color.mix($pt-intent-primary, $dark-header-background-color, 10%)
);
$dark-selectable-header-menu-selected-hover-background: menu-background(
  color.mix($pt-intent-primary, $dark-header-hover-background-color, 10%)
);

.#{$ns}-table-header {
  align-items: flex-start;
  flex: 1 1 auto;
  justify-content: space-between;
  // make this a non-static ancestor to position descendants
  position: relative;
  text-overflow: ellipsis;
  user-select: none;

  &::before {
    content: "";
    // allow row/column headers to define bottom and right borders, see borders.scss
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }

  .#{$ns}-table-row-name,
  .#{$ns}-table-column-name,
  .#{$ns}-table-header-content {
    // push these above the ::before content
    position: relative;
    width: 100%;
  }

  .#{$ns}-table-selection-enabled &:hover,
  &.#{$ns}-table-header-active {
    &::before {
      background-color: var(--bp-table-header-hover-background-color);
    }
  }

  &.#{$ns}-table-header-selected::before {
    background-image: linear-gradient(
      90deg,
      var(--bp-table-header-selected-overlay-color),
      var(--bp-table-header-selected-overlay-color)
    );
  }
}

.#{$ns}-table-th-menu-container {
  flex-shrink: 0;
  opacity: 0; // hide until header is hovered
  position: absolute;
  right: var(--bp-table-cell-border-width); // don't overlap box-shadow border
  text-align: right;

  .#{$ns}-table-header:hover &,
  .#{$ns}-table-header-active &,
  &.#{$ns}-table-th-menu-open {
    opacity: 1;
  }

  .#{$ns}-table-interaction-bar & {
    line-height: var(--bp-table-header-interaction-bar-height);
  }
}

.#{$ns}-table-th-menu-container-background {
  height: var(--bp-table-header-column-min-height);
  pointer-events: none; // don't swallow clicks meant for the underlying header cell
  position: absolute;
  right: 0;
  top: 0;
  width: calc(var(--bp-table-header-column-min-height) + var(--bp-spacing) * 5);

  .#{$ns}-table-interaction-bar & {
    height: var(--bp-table-header-interaction-bar-height);
  }

  .#{$ns}-table-th-menu-open & {
    background-image: var(--bp-table-header-menu-background-gradient);
  }

  // background doesn't change on hover when selection is disabled; match the default background
  .#{$ns}-table-header:hover &,
  .#{$ns}-table-header-active &,
  .#{$ns}-table-th-menu-open & {
    background-image: var(--bp-table-header-menu-background-gradient);
  }

  // background changes on hover/select when selection is enabled; need to match the new background
  .#{$ns}-table-selection-enabled .#{$ns}-table-header:hover &,
  .#{$ns}-table-selection-enabled .#{$ns}-table-header-active & {
    background-image: var(--bp-table-header-menu-selection-hover-background-gradient);
  }

  .#{$ns}-table-selection-enabled .#{$ns}-table-header.#{$ns}-table-header-selected & {
    background-image: var(--bp-table-header-menu-selection-selected-background-gradient);
  }

  .#{$ns}-table-selection-enabled .#{$ns}-table-header.#{$ns}-table-header-selected:hover & {
    background-image: var(--bp-table-header-menu-selection-selected-hover-background-gradient);
  }
}

.#{$ns}-table-th-menu {
  cursor: var(--bp-table-cursor-action);
  height: var(--bp-table-header-column-min-height);
  position: relative;
  width: var(--bp-table-header-column-min-height); // create a larger, more accessible click target

  .#{$ns}-table-interaction-bar & {
    height: var(--bp-table-header-interaction-bar-height);
    right: var(--bp-table-cell-border-width);
    text-align: center;
    width: var(--bp-table-header-interaction-bar-height);

    .#{$ns}-icon {
      $icon-margin: ($interaction-bar-height - $pt-icon-size-standard) * 0.5;

      margin: var(--bp-table-header-interaction-bar-icon-margin);
      margin-left: var(--bp-table-header-interaction-bar-icon-margin-left);
      vertical-align: top;
    }
  }

  .#{$ns}-icon {
    $icon-offset: ($column-header-min-height - $pt-icon-size-standard) * 0.5;
    background-color: var(--bp-table-header-background-color);
    border-radius: var(--bp-border-radius);
    box-shadow: var(--bp-table-header-menu-icon-border-shadow);
    color: var(--bp-table-header-menu-icon-color);
    margin-right: var(--bp-table-header-menu-icon-offset);

    margin-top: var(--bp-table-header-menu-icon-offset);

    .#{$ns}-table-selection-enabled & {
      background-color: var(--bp-table-header-hover-background-color);
    }

    .#{$ns}-table-selection-enabled .#{$ns}-table-header.#{$ns}-table-header-selected & {
      background-color: var(--bp-table-header-menu-selection-selected-background-gradient);
    }
  }

  &:hover .#{$ns}-icon {
    box-shadow: var(--bp-table-header-menu-icon-hover-border-shadow);
    color: var(--bp-table-header-menu-icon-hover-color);
  }

  &.#{$ns}-popover-open .#{$ns}-icon {
    background-color: var(--bp-table-header-menu-icon-selected-background-color);
    box-shadow: none;
    color: var(--bp-table-header-menu-icon-selected-color);
  }
}

.#{$ns}-table-thead {
  display: block;
  white-space: nowrap;
}

.#{$ns}-table-column-header-tr {
  display: flex;

  .#{$ns}-table-header {
    // Using a fixed flex layout give us columns that match their height. Fixes #45
    flex: 0 0;
  }
}

.#{$ns}-table-column-headers .#{$ns}-table-interaction-bar {
  height: var(--bp-table-header-interaction-bar-height);
  position: relative;
}

.#{$ns}-table-column-headers .#{$ns}-table-header {
  line-height: var(--bp-table-header-column-min-height);
  min-height: var(--bp-table-header-column-min-height);
  vertical-align: top;
}

.#{$ns}-table-row-headers .#{$ns}-table-header {
  line-height: var(--bp-table-cell-height);
  min-width: var(--bp-table-header-row-min-width);
  // prevent text from leaking out of the cell during scroll, before the header
  // width is updated on scroll end.
  overflow: hidden;
}

.#{$ns}-table-column-name-text,
.#{$ns}-table-row-name-text {
  flex-grow: 1;
  pointer-events: none;
}

.#{$ns}-table-truncated-text {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$ns}-table-no-wrap-text {
  white-space: nowrap;
}

.#{$ns}-table-column-name-text {
  padding: var(--bp-table-cell-padding-vertical) var(--bp-table-cell-padding-horizontal);
}

.#{$ns}-table-editable-name {
  display: block;
  pointer-events: all;

  &.#{$ns}-editable-text {
    &::before {
      border-radius: 0;
      bottom: calc(-1 * var(--bp-table-cell-padding-vertical));
      left: calc(
        -1 * var(--bp-table-cell-padding-horizontal) + var(--bp-table-cell-border-width) - 2px
      );
      right: calc(
        -1 * var(--bp-table-cell-padding-horizontal) + var(--bp-table-cell-border-width) - 1px
      );
      // The shorthand makes this hard to read.
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      top: calc(
        -1 * var(--bp-table-cell-padding-vertical) + var(--bp-table-cell-border-width) - 2px
      );
    }

    &:not(.#{$ns}-editable-editing)::before {
      box-shadow: none;
    }

    &.#{$ns}-editable-editing {
      &::before {
        bottom: calc(-1 * var(--bp-table-cell-padding-vertical) + 1px);
        cursor: var(--bp-table-cursor-select-text);
        left: calc(
          -1 * var(--bp-table-cell-padding-horizontal) + var(--bp-table-cell-border-width) - 1px
        );
        right: calc(
          -1 * var(--bp-table-cell-padding-horizontal) + var(--bp-table-cell-border-width)
        );
        // The shorthand makes this hard to read.
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        top: calc(
          -1 * var(--bp-table-cell-padding-vertical) + var(--bp-table-cell-border-width) - 1px
        );
      }

      &.#{$ns}-table-editable-text {
        &::before {
          left: calc(var(--bp-table-cell-border-width) - 1px);
          right: var(--bp-table-cell-border-width);
        }
      }
    }
  }

  .#{$ns}-table-column-name &.#{$ns}-editable-text {
    &::before {
      bottom: calc(-1 * var(--bp-table-cell-padding-vertical) - 1px);
    }

    &.#{$ns}-editable-editing::before {
      bottom: calc(-1 * var(--bp-table-cell-padding-vertical));
    }
  }
}

.#{$ns}-table-column-name-text .#{$ns}-table-editable-name input {
  height: var(--bp-table-cell-large-height); // fixed height for IE11
}

.#{$ns}-table-column-name {
  display: flex;
  flex-direction: column;
  font-size: var(--bp-typography-size-body-medium);
  text-align: left;
}

.#{$ns}-table-row-name {
  display: block;
  font-size: var(--bp-typography-size-body-small);
  padding: 0 var(--bp-spacing);
  text-align: right;
}

.#{$ns}-table-header-content {
  font-size: var(--bp-typography-size-body-medium);
  white-space: normal;

  // react-select does not conform to our naming scheme
  /* stylelint-disable selector-class-pattern */
  .is-searchable {
    &:not(.is-focused) > .Select-control {
      background: none;
      box-shadow: none;
    }

    > .Select-control {
      border-radius: 0;

      .Select-value {
        cursor: var(--bp-table-cursor-action);
      }
    }
  }

  .Select-value {
    right: calc(-1 * var(--bp-table-cell-border-width));
  }
  /* stylelint-enable selector-class-pattern */
}

.#{$ns}-table-column-name,
.#{$ns}-table-row-name {
  transition: color var(--bp-table-cell-transition-duration);
}

.#{$ns}-table-header.#{$ns}-loading {
  @include cell-content-align-vertical;

  .#{$ns}-table-column-name,
  .#{$ns}-table-row-name {
    flex: 1;
  }

  .#{$ns}-table-column-name-text {
    @include cell-content-align-vertical;
    padding: calc(var(--bp-spacing) * 2);

    .#{$ns}-skeleton {
      height: var(--bp-table-header-column-name-skeleton-height);
    }
  }

  .#{$ns}-table-row-name {
    @include cell-content-align-vertical;
  }
}
