// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@use "sass:color";
@use "@blueprintjs/colors/lib/scss/colors";
@use "@blueprintjs/core/src/common/color-aliases";
@use "@blueprintjs/core/src/common/variables";
@use "../common/loading";
@use "../common/variables" as table-variables;
@use "../cell/common" as cell-common;
@use "common";

@function menu-background($color) {
  @return linear-gradient(90deg, rgba($color, 0) 0%, $color 50%);
}

// when selection is disabled, header background color doesn't change on hover.
$header-menu-hover-background: menu-background(common.$header-background-color);
$dark-header-menu-hover-background: menu-background(common.$dark-header-background-color);

// when selection is enabled, background color changes on hover; need to match that.
$selectable-header-menu-hover-background: menu-background(common.$header-hover-background-color);
$selectable-header-menu-selected-background: menu-background(
  color.mix(color-aliases.$pt-intent-primary, common.$header-background-color, 10%)
);
$selectable-header-menu-selected-hover-background: menu-background(
  color.mix(color-aliases.$pt-intent-primary, common.$header-hover-background-color, 10%)
);
$dark-selectable-header-menu-hover-background: menu-background(
  common.$dark-header-hover-background-color
);
$dark-selectable-header-menu-selected-background: menu-background(
  color.mix(color-aliases.$pt-intent-primary, common.$dark-header-background-color, 10%)
);
$dark-selectable-header-menu-selected-hover-background: menu-background(
  color.mix(color-aliases.$pt-intent-primary, common.$dark-header-hover-background-color, 10%)
);

.#{variables.$ns}-table-header {
  align-items: flex-start;
  flex: 1 1 auto;
  justify-content: space-between;
  // make this a non-static ancestor to position descendants
  position: relative;
  text-overflow: ellipsis;
  user-select: none;

  &::before {
    content: "";
    // allow row/column headers to define bottom and right borders, see borders.scss
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }

  .#{variables.$ns}-table-row-name,
  .#{variables.$ns}-table-column-name,
  .#{variables.$ns}-table-header-content {
    // push these above the ::before content
    position: relative;
    width: 100%;
  }

  .#{variables.$ns}-table-selection-enabled &:hover,
  &.#{variables.$ns}-table-header-active {
    &::before {
      background-color: common.$header-hover-background-color;

      .#{variables.$ns}-dark & {
        background-color: common.$dark-header-hover-background-color;
      }
    }
  }

  &.#{variables.$ns}-table-header-selected::before {
    background-image: linear-gradient(
      90deg,
      rgba(common.$header-selected-background-color, 0.1),
      rgba(common.$header-selected-background-color, 0.1)
    );
  }
}

.#{variables.$ns}-table-th-menu-container {
  flex-shrink: 0;
  opacity: 0; // hide until header is hovered
  position: absolute;
  right: cell-common.$cell-border-width; // don't overlap box-shadow border
  text-align: right;

  .#{variables.$ns}-table-header:hover &,
  .#{variables.$ns}-table-header-active &,
  &.#{variables.$ns}-table-th-menu-open {
    opacity: 1;
  }

  .#{variables.$ns}-table-interaction-bar & {
    line-height: common.$interaction-bar-height;
  }
}

.#{variables.$ns}-table-th-menu-container-background {
  height: common.$column-header-min-height;
  pointer-events: none; // don't swallow clicks meant for the underlying header cell
  position: absolute;
  right: 0;
  top: 0;
  width: common.$column-header-min-height + variables.$pt-grid-size * 2;

  .#{variables.$ns}-table-interaction-bar & {
    height: common.$interaction-bar-height;
  }

  .#{variables.$ns}-table-th-menu-open & {
    background-image: $header-menu-hover-background;

    .#{variables.$ns}-dark & {
      background-image: $dark-header-menu-hover-background;
    }
  }

  // background doesn't change on hover when selection is disabled; match the default background
  .#{variables.$ns}-table-header:hover &,
  .#{variables.$ns}-table-header-active &,
  .#{variables.$ns}-table-th-menu-open & {
    background-image: $header-menu-hover-background;

    .#{variables.$ns}-dark & {
      background-image: $dark-header-menu-hover-background;
    }
  }

  // background changes on hover/select when selection is enabled; need to match the new background
  .#{variables.$ns}-table-selection-enabled .#{variables.$ns}-table-header:hover &,
  .#{variables.$ns}-table-selection-enabled .#{variables.$ns}-table-header-active & {
    background-image: $selectable-header-menu-hover-background;

    .#{variables.$ns}-dark & {
      background-image: $dark-selectable-header-menu-hover-background;
    }
  }

  .#{variables.$ns}-table-selection-enabled
    .#{variables.$ns}-table-header.#{variables.$ns}-table-header-selected
    & {
    background-image: $selectable-header-menu-selected-background;

    .#{variables.$ns}-dark & {
      background-image: $dark-selectable-header-menu-selected-background;
    }
  }

  .#{variables.$ns}-table-selection-enabled
    .#{variables.$ns}-table-header.#{variables.$ns}-table-header-selected:hover
    & {
    background-image: $selectable-header-menu-selected-hover-background;

    .#{variables.$ns}-dark & {
      background-image: $dark-selectable-header-menu-selected-hover-background;
    }
  }
}

.#{variables.$ns}-table-th-menu {
  cursor: table-variables.$action-cursor;
  height: common.$column-header-min-height;
  position: relative;
  width: common.$column-header-min-height; // create a larger, more accessible click target

  .#{variables.$ns}-table-interaction-bar & {
    height: common.$interaction-bar-height;
    right: cell-common.$cell-border-width;
    text-align: center;
    width: common.$interaction-bar-height;

    .#{variables.$ns}-icon {
      $icon-margin: (common.$interaction-bar-height - variables.$pt-icon-size-standard) * 0.5;

      margin: $icon-margin;
      margin-left: $icon-margin + cell-common.$cell-border-width;
      vertical-align: top;
    }
  }

  .#{variables.$ns}-icon {
    $icon-offset: (common.$column-header-min-height - variables.$pt-icon-size-standard) * 0.5;
    background-color: common.$header-background-color;
    border-radius: variables.$pt-border-radius;
    box-shadow: inset 0 0 0 1px rgba(colors.$black, variables.$pt-drop-shadow-opacity);
    color: color-aliases.$pt-icon-color;
    margin-right: $icon-offset;

    margin-top: $icon-offset;

    // light theme

    .#{variables.$ns}-table-selection-enabled & {
      background-color: common.$header-hover-background-color;
    }

    .#{variables.$ns}-table-selection-enabled
      .#{variables.$ns}-table-header.#{variables.$ns}-table-header-selected
      & {
      background-color: $selectable-header-menu-selected-background;
    }

    // dark theme

    .#{variables.$ns}-dark & {
      background-color: common.$dark-header-background-color;
      box-shadow: inset 0 0 0 1px rgba(colors.$white, variables.$pt-drop-shadow-opacity);
      color: color-aliases.$pt-dark-icon-color;
    }

    .#{variables.$ns}-dark .#{variables.$ns}-table-selection-enabled & {
      background-color: common.$dark-header-hover-background-color;
    }

    /* prettier-ignore */
    .#{variables.$ns}-dark .#{variables.$ns}-table-selection-enabled .#{variables.$ns}-table-header.#{variables.$ns}-table-header-selected & {
      // need to use a long selector here to properly scope the style
      background-color: $dark-selectable-header-menu-selected-background;
    }
  }

  &:hover .#{variables.$ns}-icon {
    box-shadow: inset 0 0 0 1px rgba(colors.$black, variables.$pt-drop-shadow-opacity * 200%);
    color: color-aliases.$pt-icon-color-hover;

    .#{variables.$ns}-dark & {
      box-shadow: inset 0 0 0 1px rgba(colors.$white, variables.$pt-drop-shadow-opacity * 200%);
      color: color-aliases.$pt-dark-icon-color-hover;
    }
  }

  &.#{variables.$ns}-popover-open .#{variables.$ns}-icon {
    background-color: color-aliases.$pt-icon-color-selected;
    box-shadow: none;
    color: colors.$white;

    .#{variables.$ns}-dark & {
      background-color: color-aliases.$pt-dark-icon-color-selected;
      box-shadow: none;
      color: colors.$white;
    }
  }
}

.#{variables.$ns}-table-thead {
  display: block;
  white-space: nowrap;
}

.#{variables.$ns}-table-column-header-tr {
  display: flex;

  .#{variables.$ns}-table-header {
    // Using a fixed flex layout give us columns that match their height. Fixes #45
    flex: 0 0;
  }
}

.#{variables.$ns}-table-column-headers .#{variables.$ns}-table-interaction-bar {
  height: common.$interaction-bar-height;
  position: relative;
}

.#{variables.$ns}-table-column-headers .#{variables.$ns}-table-header {
  line-height: common.$column-header-min-height;
  min-height: common.$column-header-min-height;
  vertical-align: top;
}

.#{variables.$ns}-table-row-headers .#{variables.$ns}-table-header {
  line-height: cell-common.$cell-height;
  min-width: common.$row-header-min-width;
  // prevent text from leaking out of the cell during scroll, before the header
  // width is updated on scroll end.
  overflow: hidden;
}

.#{variables.$ns}-table-column-name-text,
.#{variables.$ns}-table-row-name-text {
  flex-grow: 1;
  pointer-events: none;
}

.#{variables.$ns}-table-truncated-text {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{variables.$ns}-table-no-wrap-text {
  white-space: nowrap;
}

.#{variables.$ns}-table-column-name-text {
  padding: cell-common.$cell-padding;
}

.#{variables.$ns}-table-editable-name {
  display: block;
  pointer-events: all;

  &.#{variables.$ns}-editable-text {
    &::before {
      border-radius: 0;
      bottom: -(cell-common.$cell-padding-vertical);
      left: -(cell-common.$cell-padding-horizontal) + cell-common.$cell-border-width - 2px;
      right: -(cell-common.$cell-padding-horizontal) + cell-common.$cell-border-width - 1px;
      // The shorthand makes this hard to read.
      /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
      top: -(cell-common.$cell-padding-vertical) + cell-common.$cell-border-width - 2px;
    }

    &:not(.#{variables.$ns}-editable-editing)::before {
      box-shadow: none;
    }

    &.#{variables.$ns}-editable-editing {
      &::before {
        bottom: -(cell-common.$cell-padding-vertical) + 1px;
        cursor: table-variables.$select-text-cursor;
        left: -(cell-common.$cell-padding-horizontal) + cell-common.$cell-border-width - 1px;
        right: -(cell-common.$cell-padding-horizontal) + cell-common.$cell-border-width;
        // The shorthand makes this hard to read.
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        top: -(cell-common.$cell-padding-vertical) + cell-common.$cell-border-width - 1px;
      }

      &.#{variables.$ns}-table-editable-text {
        &::before {
          left: cell-common.$cell-border-width - 1px;
          right: cell-common.$cell-border-width;
        }
      }
    }
  }

  .#{variables.$ns}-table-column-name &.#{variables.$ns}-editable-text {
    &::before {
      bottom: -(cell-common.$cell-padding-vertical) - 1px;
    }

    &.#{variables.$ns}-editable-editing::before {
      bottom: -(cell-common.$cell-padding-vertical);
    }
  }
}

.#{variables.$ns}-table-column-name-text .#{variables.$ns}-table-editable-name input {
  height: cell-common.$large-cell-height; // fixed height for IE11
}

.#{variables.$ns}-table-column-name {
  display: flex;
  flex-direction: column;
  font-size: variables.$pt-font-size;
  text-align: left;
}

.#{variables.$ns}-table-row-name {
  display: block;
  font-size: variables.$pt-font-size-small;
  padding: 0 variables.$pt-grid-size * 0.5;
  text-align: right;
}

.#{variables.$ns}-table-header-content {
  font-size: variables.$pt-font-size;
  white-space: normal;

  // react-select does not conform to our naming scheme
  /* stylelint-disable selector-class-pattern */
  .is-searchable {
    &:not(.is-focused) > .Select-control {
      background: none;
      box-shadow: none;
    }

    > .Select-control {
      border-radius: 0;

      .Select-value {
        cursor: table-variables.$action-cursor;
      }
    }
  }

  .Select-value {
    right: -(cell-common.$cell-border-width);
  }
  /* stylelint-enable selector-class-pattern */
}

.#{variables.$ns}-table-column-name,
.#{variables.$ns}-table-row-name {
  transition: color cell-common.$cell-transition-duration;
}

.#{variables.$ns}-table-header.#{variables.$ns}-loading {
  @include cell-common.cell-content-align-vertical();

  .#{variables.$ns}-table-column-name,
  .#{variables.$ns}-table-row-name {
    flex: 1;
  }

  .#{variables.$ns}-table-column-name-text {
    @include cell-common.cell-content-align-vertical();
    padding: variables.$pt-grid-size;

    .#{variables.$ns}-skeleton {
      height: common.$column-name-text-skeleton-height;
    }
  }

  .#{variables.$ns}-table-row-name {
    @include cell-common.cell-content-align-vertical();
  }
}
