// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../common/variables";

$resize-handle-target-width: $pt-spacing !default;
$resize-handle-width: $pt-spacing * 0.75 !default;
$resize-handle-position-correction: $pt-spacing * -0.75 !default;
$resize-handle-padding: $pt-spacing * 0.5 !default;
$resize-handle-color: $pt-intent-primary !default;
$resize-handle-dragging-color: $pt-intent-primary !default;

// we want to square off the margin around the handle
// so we need a special value based on the handle icon shape
$reorder-handle-width: $pt-spacing * 5.5 !default;

@mixin grabbable() {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

@mixin reorderable-header() {
  &.#{$ns}-table-header-reorderable {
    @include grabbable;

    .#{$ns}-table-interaction-bar {
      @include grabbable;
    }
  }
}

.#{$ns}-table-selection-enabled {
  &.#{$ns}-table-column-headers .#{$ns}-table-header {
    @include reorderable-header;
    cursor: var(--bp-table-cursor-select-column);
  }

  &.#{$ns}-table-row-headers .#{$ns}-table-header {
    @include reorderable-header;
    cursor: var(--bp-table-cursor-select-row);
  }

  &.#{$ns}-table-menu {
    cursor: var(--bp-table-cursor-select-table);
  }

  .#{$ns}-editable-text::before,
  .#{$ns}-editable-content {
    cursor: var(--bp-table-cursor-select-cell);
  }
}

/* prettier-ignore */
.#{$ns}-table-column-header-cell.#{$ns}-table-has-reorder-handle:not(.#{$ns}-table-has-interaction-bar) {
  .#{$ns}-table-column-name-text {
    padding-left: var(--bp-table-interaction-reorder-handle-width);
  }

  // keep the editable cell input flush with the cell's left border
  .#{$ns}-table-editable-name::before {
    left: calc(-1 * var(--bp-table-interaction-reorder-handle-width));
  }
}

.#{$ns}-table-reorder-handle-target {
  @include grabbable;
  align-items: center;
  bottom: 0;
  color: var(--bp-table-interaction-reorder-handle-color);
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: var(--bp-table-interaction-reorder-handle-width);

  &:hover {
    color: var(--bp-table-interaction-reorder-handle-hover-color);
  }

  &:active {
    color: var(--bp-intent-primary-rest);
  }
}

.#{$ns}-table-reorder-handle {
  // center icon within handle
  display: flex;
}

// The wide, transparent, clickable target that contains the
// thin resize handle bar
.#{$ns}-table-resize-handle-target {
  opacity: 0;
  position: absolute;
  user-select: none;
  // Move the handle target above the following cell
  // this allows the mouse to hover the target on both
  // sides when the mouse is within the padding distance
  z-index: var(--bp-table-region-layer-z-index);

  &:hover,
  &.#{$ns}-table-dragging {
    opacity: 1;
  }

  &.#{$ns}-table-resize-vertical {
    bottom: calc(-1 * var(--bp-table-cell-border-width));
    cursor: var(--bp-table-cursor-resize-vertical);
    right: 0;
    top: 0;
    width: var(--bp-table-interaction-resize-handle-target-width);
  }

  &.#{$ns}-table-resize-horizontal {
    bottom: 0;
    cursor: var(--bp-table-cursor-resize-horizontal);
    height: var(--bp-table-interaction-resize-handle-target-width);
    left: 0;
    right: calc(-1 * var(--bp-table-cell-border-width));
  }
}

.#{$ns}-table-resize-handle {
  background-color: var(--bp-table-interaction-resize-handle-color);
  position: absolute;
  z-index: var(--bp-table-region-layer-z-index);

  &.#{$ns}-table-dragging {
    background-color: var(--bp-table-interaction-resize-handle-dragging-color);
  }
}

.#{$ns}-table-resize-vertical .#{$ns}-table-resize-handle {
  bottom: 0;
  left: var(--bp-table-interaction-resize-handle-padding);
  top: 0;
  width: var(--bp-table-interaction-resize-handle-width);
}

.#{$ns}-table-resize-horizontal .#{$ns}-table-resize-handle {
  height: var(--bp-table-interaction-resize-handle-width);
  left: 0;
  right: 0;
  top: var(--bp-table-interaction-resize-handle-padding);
}

.#{$ns}-table-resize-guides .#{$ns}-table-horizontal-guide {
  background-color: var(--bp-table-interaction-resize-handle-dragging-color);
  height: var(--bp-table-interaction-resize-handle-width);
  margin-top: var(--bp-table-interaction-resize-handle-position-correction);

  &.#{$ns}-table-horizontal-guide-flush-top {
    margin-top: 0;
  }
}

.#{$ns}-table-resize-guides .#{$ns}-table-vertical-guide {
  background-color: var(--bp-table-interaction-resize-handle-dragging-color);
  margin-left: var(--bp-table-interaction-resize-handle-position-correction);
  width: var(--bp-table-interaction-resize-handle-width);

  &.#{$ns}-table-vertical-guide-flush-left {
    margin-left: 0;
  }
}
