// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@use "@blueprintjs/core/src/common/variables";
@use "@blueprintjs/core/src/common/color-aliases";
@use "../common/variables" as table-variables;

$resize-handle-target-width: 5px !default;
$resize-handle-width: 3px !default;
$resize-handle-position-correction: -3px !default;
$resize-handle-padding: 2px !default;
$resize-handle-color: color-aliases.$pt-intent-primary !default;
$resize-handle-dragging-color: color-aliases.$pt-intent-primary !default;

// we want to square off the margin around the handle
// so we need a special value based on the handle icon shape
$reorder-handle-width: 22px !default;

@mixin grabbable() {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

@mixin reorderable-header() {
  &.#{variables.$ns}-table-header-reorderable {
    @include grabbable();

    .#{variables.$ns}-table-interaction-bar {
      @include grabbable();
    }
  }
}

.#{variables.$ns}-table-selection-enabled {
  &.#{variables.$ns}-table-column-headers .#{variables.$ns}-table-header {
    @include reorderable-header();
    cursor: table-variables.$select-column-cursor;
  }

  &.#{variables.$ns}-table-row-headers .#{variables.$ns}-table-header {
    @include reorderable-header();
    cursor: table-variables.$select-row-cursor;
  }

  &.#{variables.$ns}-table-menu {
    cursor: table-variables.$select-table-cursor;
  }

  .#{variables.$ns}-editable-text::before,
  .#{variables.$ns}-editable-content {
    cursor: table-variables.$select-cell-cursor;
  }
}

/* prettier-ignore */
.#{variables.$ns}-table-column-header-cell.#{variables.$ns}-table-has-reorder-handle:not(.#{variables.$ns}-table-has-interaction-bar) {
  .#{variables.$ns}-table-column-name-text {
    padding-left: $reorder-handle-width;
  }

  // keep the editable cell input flush with the cell's left border
  .#{variables.$ns}-table-editable-name::before {
    left: -$reorder-handle-width;
  }
}

.#{variables.$ns}-table-reorder-handle-target {
  @include grabbable();
  align-items: center;
  bottom: 0;
  color: color-aliases.$pt-text-color-disabled;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: $reorder-handle-width;

  &:hover {
    color: color-aliases.$pt-icon-color-hover;
  }

  &:active {
    color: color-aliases.$pt-intent-primary;
  }

  .#{variables.$ns}-dark & {
    color: color-aliases.$pt-dark-text-color-disabled;

    &:hover {
      color: color-aliases.$pt-dark-icon-color-hover;
    }

    &:active {
      color: color-aliases.$pt-intent-primary;
    }
  }
}

.#{variables.$ns}-table-reorder-handle {
  // center icon within handle
  display: flex;
}

// The wide, transparent, clickable target that contains the
// thin resize handle bar
.#{variables.$ns}-table-resize-handle-target {
  opacity: 0;
  position: absolute;
  user-select: none;
  // Move the handle target above the following cell
  // this allows the mouse to hover the target on both
  // sides when the mouse is within the padding distance
  z-index: variables.$pt-z-index-overlay;

  &:hover,
  &.#{variables.$ns}-table-dragging {
    opacity: 1;
  }

  &.#{variables.$ns}-table-resize-vertical {
    bottom: -(table-variables.$cell-border-width);
    cursor: table-variables.$resize-vertical-cursor;
    right: 0;
    top: 0;
    width: $resize-handle-target-width;
  }

  &.#{variables.$ns}-table-resize-horizontal {
    bottom: 0;
    cursor: table-variables.$resize-horizontal-cursor;
    height: $resize-handle-target-width;
    left: 0;
    right: -(table-variables.$cell-border-width);
  }
}

.#{variables.$ns}-table-resize-handle {
  background-color: $resize-handle-color;
  position: absolute;
  z-index: variables.$pt-z-index-overlay;

  &.#{variables.$ns}-table-dragging {
    background-color: $resize-handle-dragging-color;
  }
}

.#{variables.$ns}-table-resize-vertical .#{variables.$ns}-table-resize-handle {
  bottom: 0;
  left: $resize-handle-padding;
  top: 0;
  width: $resize-handle-width;
}

.#{variables.$ns}-table-resize-horizontal .#{variables.$ns}-table-resize-handle {
  height: $resize-handle-width;
  left: 0;
  right: 0;
  top: $resize-handle-padding;
}

.#{variables.$ns}-table-resize-guides .#{variables.$ns}-table-horizontal-guide {
  background-color: $resize-handle-dragging-color;
  height: $resize-handle-width;
  margin-top: $resize-handle-position-correction;

  &.#{variables.$ns}-table-horizontal-guide-flush-top {
    margin-top: 0;
  }
}

.#{variables.$ns}-table-resize-guides .#{variables.$ns}-table-vertical-guide {
  background-color: $resize-handle-dragging-color;
  margin-left: $resize-handle-position-correction;
  width: $resize-handle-width;

  &.#{variables.$ns}-table-vertical-guide-flush-left {
    margin-left: 0;
  }
}
