// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../common/variables";

$resize-handle-target-width: 5px !default;
$resize-handle-width: 3px !default;
$resize-handle-position-correction: -3px !default;
$resize-handle-padding: 2px !default;
$resize-handle-color: $pt-intent-primary !default;
$resize-handle-dragging-color: $pt-intent-primary !default;

// we want to square off the margin around the handle
// so we need a special value based on the handle icon shape
$reorder-handle-width: 22px !default;

@mixin grabbable() {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

@mixin reorderable-header() {
  &.pt-table-header-reorderable {
    @include grabbable();

    .pt-table-interaction-bar {
      @include grabbable();
    }
  }
}

.pt-table-selection-enabled {
  &.pt-table-column-headers .pt-table-header {
    @include reorderable-header();
    cursor: $select-column-cursor;
  }

  &.pt-table-row-headers .pt-table-header {
    @include reorderable-header();
    cursor: $select-row-cursor;
  }

  &.pt-table-menu {
    cursor: $select-table-cursor;
  }

  .pt-editable-text::before,
  .pt-editable-content {
    cursor: $select-cell-cursor;
  }
}

.pt-table-column-header-cell.pt-table-has-reorder-handle:not(.pt-table-has-interaction-bar) {
  .pt-table-column-name-text {
    padding-left: $reorder-handle-width;
  }

  // keep the editable cell input flush with the cell's left border
  .pt-table-editable-name::before {
    left: -$reorder-handle-width;
  }
}

.pt-table-reorder-handle-target {
  @include grabbable();
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $reorder-handle-width;
  color: $pt-text-color-disabled;

  &:hover {
    color: $pt-icon-color-hover;
  }

  &:active {
    color: $pt-intent-primary;
  }
}

// The wide, transparent, clickable target that contains the
// thin resize handle bar
.pt-table-resize-handle-target {
  position: absolute;
  opacity: 0;
  // Move the handle target above the following cell
  // this allows the mouse to hover the target on both
  // sides when the mouse is within the padding distance
  z-index: $pt-z-index-overlay;
  user-select: none;

  &:hover,
  &.pt-table-dragging {
    opacity: 1;
  }

  &.pt-table-resize-vertical {
    top: 0;
    right: 0;
    bottom: -$cell-border-width;
    cursor: $resize-vertical-cursor;
    width: $resize-handle-target-width;
  }

  &.pt-table-resize-horizontal {
    right: -$cell-border-width;
    bottom: 0;
    left: 0;
    cursor: $resize-horizontal-cursor;
    height: $resize-handle-target-width;
  }
}

.pt-table-resize-handle {
  position: absolute;
  z-index: $pt-z-index-overlay;
  background-color: $resize-handle-color;

  &.pt-table-dragging {
    background-color: $resize-handle-dragging-color;
  }
}

.pt-table-resize-vertical .pt-table-resize-handle {
  top: 0;
  bottom: 0;
  left: $resize-handle-padding;
  width: $resize-handle-width;
}

.pt-table-resize-horizontal .pt-table-resize-handle {
  top: $resize-handle-padding;
  right: 0;
  left: 0;
  height: $resize-handle-width;
}

.pt-table-resize-guides .pt-table-horizontal-guide {
  margin-top: $resize-handle-position-correction;
  background-color: $resize-handle-dragging-color;
  height: $resize-handle-width;

  &.pt-table-horizontal-guide-flush-top {
    margin-top: 0;
  }
}

.pt-table-resize-guides .pt-table-vertical-guide {
  margin-left: $resize-handle-position-correction;
  background-color: $resize-handle-dragging-color;
  width: $resize-handle-width;

  &.pt-table-vertical-guide-flush-left {
    margin-left: 0;
  }
}
