$initial-delay: 2s;

.landing-wireframes {
  position: absolute;
  top: 0;
  left: 50%;
  overflow: visible;
  pointer-events: none;
}

.landing-wireframe {
  position: absolute;

  svg g {
    path,
    line,
    circle,
    use {
      stroke-linecap: butt;
    }
  }
}

.landing-logo-wireframe-alert {
  top: 186px;
  right: 280px;
}

.landing-logo-wireframe-buttons {
  top: 32px;
  right: 252px;
}

.landing-logo-wireframe-calendar {
  top: 389px;
  right: 238px;
}

.landing-logo-wireframe-checkboxes {
  top: 434px;
  left: 300px;
}

.landing-logo-wireframe-file-upload {
  top: 620px;
  left: 3px;
}

.landing-logo-wireframe-input-groups {
  top: 34px;
  left: -197px;
}

.landing-logo-wireframe-inputs {
  top: 34px;
  left: 130px;
}

.landing-logo-wireframe-labels {
  top: 150px;
  left: 500px;
}

.landing-logo-wireframe-radios {
  top: 284px;
  left: 300px;
}

.landing-logo-wireframe-select-menus {
  top: 30px;
  left: 500px;
}

.landing-logo-wireframe-sliders {
  top: 300px;
  left: 500px;
}

.landing-logo-wireframe-switches {
  top: 354px;
  left: 300px;
}

.landing-logo-wireframe-time-selections {
  top: 450px;
  left: 500px;
}

.landing-logo-wireframe-toggles {
  top: 250px;
  left: -201px;
}
