// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@import "../../common/variables";

$skeleton-animation: ($pt-transition-duration * 10) linear infinite alternate skeleton-glow !default;
$skeleton-color-start: color-mix(in srgb, var(--bp-palette-light-gray-1) 20%, transparent) !default;
$skeleton-color-end: color-mix(in srgb, var(--bp-palette-gray-1) 20%, transparent) !default;
