// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@use "../../common/variables";
@use "@blueprintjs/colors/lib/scss/colors";

$skeleton-animation: (variables.$pt-transition-duration * 10) linear infinite alternate skeleton-glow !default;
$skeleton-color-start: rgba(colors.$light-gray1, 0.2) !default;
$skeleton-color-end: rgba(colors.$gray1, 0.2) !default;
