
@import "../../core/src/common/mixins";
@import "./common/variables";

$table-quadrant-z-index-main: 0;
$table-quadrant-z-index-top: $table-quadrant-z-index-main + 1;
$table-quadrant-z-index-left: $table-quadrant-z-index-top + 1;
$table-quadrant-z-index-top-left: $table-quadrant-z-index-left + 1;

.bp-table-quadrant {
  position: absolute;
  top: 0;
  left: 0;
  background: $table-background-color;
  overflow: hidden;

  .pt-dark & {
    background-color: $dark-table-background-color;
  }
}

.bp-table-quadrant-scroll-container {
  @include force-hardware-acceleration();
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  user-select: none;

  // We disable x or y scrolling when we are displaying "ghost" cells that
  // overflow the body.

  .bp-table-no-vertical-scroll & {
    overflow-y: hidden;
  }

  .bp-table-no-horizontal-scroll & {
    overflow-x: hidden;
  }
}

.bp-table-quadrant-body-container {
  position: relative;
}

.bp-table-quadrant-main {
  right: 0;
  bottom: 0;
  z-index: $table-quadrant-z-index-main;

  .bp-table-cell-client {
    background: $white;
  }
}

.bp-table-quadrant-top {
  right: 0;
  z-index: $table-quadrant-z-index-top;

  .bp-table-menu {
    background: $red5;
  }

  .bp-table-row-headers,
  .bp-table-column-headers {
    background: $red5;
  }

  .bp-table-quadrant-scroll-container {
    bottom: -20px;
    overflow-y: hidden;
  }
}

.bp-table-quadrant-left {
  bottom: 0;
  z-index: $table-quadrant-z-index-left;

  .bp-table-menu {
    background: $blue5;
  }

  .bp-table-row-headers,
  .bp-table-column-headers {
    background: $blue5;
  }

  .bp-table-quadrant-scroll-container {
    right: -20px;
    overflow-x: hidden;
  }
}

.bp-table-quadrant-top-left {
  z-index: $table-quadrant-z-index-top-left;

  .bp-table-menu {
    background: $green5;
  }

  .bp-table-row-headers,
  .bp-table-column-headers {
    background: $green5;
  }

  .bp-table-quadrant-scroll-container {
    right: -20px;
    bottom: -20px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
