// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@use "sass:color";
@use "@blueprintjs/colors/lib/scss/colors";
@use "@blueprintjs/core/src/common/color-aliases";
@use "@blueprintjs/core/src/common/variables";
@use "../common/loading";
@use "../common/variables" as table-variables;
@use "common";

.#{variables.$ns}-table-cell {
  @include common.cell();
  @include common.cell-cursors();

  &.#{variables.$ns}-table-truncated-cell {
    overflow: hidden;
  }

  &.#{variables.$ns}-large,
  .#{variables.$ns}-large & {
    @include common.cell-large();
  }

  &.#{variables.$ns}-loading {
    @include common.cell-content-align-vertical();
    color: transparent;
  }

  &:focus {
    // disable focus outline on cells; we already have the focus border
    outline: none;
  }
}

.#{variables.$ns}-table-cell-interactive {
  z-index: table-variables.$interactive-cell-z-index;
}

.#{variables.$ns}-table-striped {
  .#{variables.$ns}-table-cell-ledger-even {
    background-color: common.$cell-background-color;
  }

  .#{variables.$ns}-table-cell-ledger-odd {
    background-color: color.mix(
      table-variables.$table-background-color,
      common.$cell-background-color,
      50%
    );
  }

  .#{variables.$ns}-dark & {
    .#{variables.$ns}-table-cell-ledger-even {
      background-color: common.$dark-cell-background-color;
    }

    .#{variables.$ns}-table-cell-ledger-odd {
      background-color: color.mix(
        table-variables.$dark-table-background-color,
        common.$dark-cell-background-color,
        50%
      );
    }
  }
}

.#{variables.$ns}-table-editable-name input {
  height: common.$cell-height; // fixed height for IE11
}

.#{variables.$ns}-table-editable-text {
  inset: 0;
  padding: common.$cell-padding;
  position: absolute;
}

.#{variables.$ns}-table-cell-text-placeholder {
  color: color-aliases.$pt-text-color-muted;

  .#{variables.$ns}-dark & {
    color: color-aliases.$pt-dark-text-color-muted;
  }
}
