// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../common/loading";
@import "../common/variables";
@import "./common";

.bp-table-cell {
  @include cell-cursors();
  @include table-skeleton($pt-grid-size / 2);

  &.pt-loading {
    @include disable-interaction();
    @include hide-text();
    @include vertical-center();
  }
}

.bp-table-cell,
.bt-table-row-header-cell {
  @include cell();

  &.pt-large,
  .pt-large & {
    @include cell-large();
  }
}

.bp-table-striped {
  .bp-table-cell-ledger-even {
    background-color: $cell-background-color;
  }

  .bp-table-cell-ledger-odd {
    background-color: mix($table-background-color, $cell-background-color, 50%);
  }

  .pt-dark & {
    .bp-table-cell-ledger-even {
      background-color: $dark-cell-background-color;
    }

    .bp-table-cell-ledger-odd {
      background-color: mix($dark-table-background-color, $dark-cell-background-color, 50%);
    }
  }
}

.bp-table-editable-name input {
  height: $cell-height; // fixed height for IE11
}
