
@import "../../common/variables";
@import "./common";

$numeric-input-button-height: ($pt-button-height / 2);
$numeric-input-button-height-large: ($pt-button-height-large / 2);
$dark-numeric-input-button-height: ($pt-button-height / 2) - 1px;
$dark-numeric-input-button-height-large: ($pt-button-height-large / 2) - 1px;

@mixin numeric-input-button-heights($height) {
  // the bottom (last-child) button is 1px shorter to fit the bottom border
  // on the top (first-child) button above it.
  &:first-child {
    min-height: $height + 1;
  }

  &:last-child {
    min-height: $height;
  }
}

.pt-numeric-input {

  // we need a very-specific selector here to override specificicty of selectors defined elsewhere.
  .pt-button-group.pt-vertical > .pt-button {
    @include numeric-input-button-heights($numeric-input-button-height);

    &:first-child {
      border-radius: 0 $pt-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $pt-border-radius 0;
    }

    &[class*="pt-icon-"]::before {
      // these styles are super unintuitive, but they basically are present to
      // ensure that the focus outlines around the buttons will be perfect
      // rectangles. delete any one of these styles, and the focus outlines will
      // become jagged, because we're trying to fit a 16-px tall icon inside a
      // ~15px-tall button.
      display: block;
      height: $pt-button-height / 2 - 1;
      overflow: hidden;
      line-height: $pt-button-height / 2 - 1;
    }
  }

  // fix button border radii when the buttons are on the left
  .pt-button-group.pt-vertical {
    &:first-child > .pt-button {
      &:first-child {
        border-radius: $pt-border-radius 0 0 0;
      }

      &:last-child {
        border-radius: 0 0 0 $pt-border-radius;
      }
    }

    &.pt-large .pt-button {
      @include numeric-input-button-heights($numeric-input-button-height-large);
    }
  }

  // need to shrink button sizes slightly in dark theme
  .pt-dark & {
    .pt-button-group.pt-vertical > .pt-button {
      @include numeric-input-button-heights($dark-numeric-input-button-height);
      line-height: $dark-numeric-input-button-height;
    }

    .pt-button-group.pt-vertical.pt-large > .pt-button {
      @include numeric-input-button-heights($dark-numeric-input-button-height-large);
    }
  }
}
