
@import "../../common/variables";
@import "./common";

.pt-numeric-input {

  // we need a very-specific selector here to override specificicty of selectors defined elsewhere.
  .pt-button-group.pt-vertical > .pt-button {
    // let the buttons shrink to equal heights
    flex: 1 1 auto;
    width: $pt-button-height;
    min-height: 0;
    padding: 0;

    &:first-child {
      border-radius: 0 $pt-border-radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $pt-border-radius 0;
    }
  }

  // fix button border radii when the buttons are on the left
  .pt-button-group.pt-vertical {
    &:first-child > .pt-button {
      &:first-child {
        border-radius: $pt-border-radius 0 0 0;
      }

      &:last-child {
        border-radius: 0 0 0 $pt-border-radius;
      }
    }
  }

  &.pt-large .pt-button-group.pt-vertical > .pt-button {
    width: $pt-button-height-large;
  }
}
