
@import "../../common/variables";
@import "./common";

/*
Numeric inputs

The `NumericInput` component provides controls for easily inputting,
incrementing, and decrementing numeric values.

Weight: 10

Styleguide components.forms.numeric-input
*/

/*
Interactions

Values in numeric inputs can be incremented or decremented using both keyboard and mouse interactions.

##### Keyboard interactions

- `↑/↓` - change the value by one step (default: `±1`)
- `Shift + ↑/↓` - change the value by one major step (default: `±10`)
- `Alt + ↑/↓` - change the value by one minor step (default: `±0.1`)

##### Mouse interactions

- `Click ⌃/⌄` - change the value by one step (default: `±1`)
- `Shift + Click ⌃/⌄` - change the value by one major step (default: `±10`)
- `Alt + Click ⌃/⌄` - change the value by one minor step (default: `±0.1`)

<div></div>

Weight: 1

Styleguide components.forms.numeric-input.interactions
*/

/*
Basic example

This example shows how `NumericInput` works out of the box. It supports the
basic keyboard and mouse interactions listed above, as well as basic keyboard
entry:

@react-example NumericInputBasicExample

Weight: 2

Styleguide components.forms.numeric-input.basic-example
*/

/*
Extended example

This example shows how `NumericInput` can be extended beyond its core
functionality. It supports the basic interactions above as well as each of the
following types of input:

- **Number abbreviations** (e.g. `2.1k`, `-0.3m`)
- **Scientific notation** (e.g. `2.1e3`, `-0.3e6`)
- **Addition and subtraction expressions** (e.g. `3+2`, `0.1m - 5k + 1`)

These special-case inputs are evaluated when `Enter` is pressed (via a
custom `onKeyDown` callback) and when the field loses focus (via a custom
`onBlur` callback). If the input is invalid when either of these callbacks is
trigged, the field will be cleared.

<div class="pt-callout pt-intent-primary pt-icon-info-sign">
  This example contains non-core functionality that is meant to demonstrate
  the extensibility of the `NumericInput` component. The correctness of the
  custom evaluation code has not been tested robustly.
</div>

@react-example NumericInputExtendedExample

Weight: 3

Styleguide components.forms.numeric-input.extended-example
*/

/*
JavaScript API

The `NumericInput` component is available in the __@blueprintjs/core__ package.
Make sure to review the [general usage docs for JS
components](#components.usage).

@interface INumericInputProps

Weight: 4

Styleguide components.forms.numeric-input.js
*/

/*
Uncontrolled mode

By default, this component will function in uncontrolled mode, managing all of
its own state. In uncontrolled mode, simply provide an `onValueChange` callback
in the props to access the value as the user manipulates it. The value will be
provided to the callback both as a number and as a string.

```
import { NumericInput } from BlueprintComponents;

export class NumericInputExample extends React.Component<{}, {}> {
    public render() {
        return (
            <NumericInput onValueChange={this.handleValueChange} />
        );
    }

    private handleValueChange = (valueAsNumber: number, valueAsString: string) => {
        console.log("Value as number:", valueAsNumber);
        console.log("Value as string:", valueAsString);
    }
}
```

Weight: 1

Styleguide components.forms.numeric-input.js.uncontrolled
*/

/*
Controlled mode

If you prefer to have more control over your numeric input's behavior, you can
specify the `value` property to use the component in **controlled mode**.
numeric input supports arbitrary text entry--not just numeric digits–-so the
`value` can be provided as either a number or a string.

The combined support of arbitrary text entry, controlled mode, and custom
callbacks makes it possible to extend the numeric input's basic functionality in
powerful ways. As shown in the example above, one could extend the numeric input
component with support for mathematical expressions as follows:

```
import { NumericInput } from BlueprintComponents;
import * as SomeLibrary from "some-library";

export class NumericInputExample extends React.Component<{}, { value?: number |
string }> {
    public state = { value: null };

    public render() {
        return (
            <NumericInput
                onValueChange={this.handleValueChange}
                value={this.state.value}
            />
        );
    }

    private handleValueChange = (_valueAsNumber: number, valueAsString: string) {
        const result = SomeLibrary.evaluateMathExpression(valueAsString);
        this.setState({ value: result });
    }
}
```

Weight: 2

Styleguide components.forms.numeric-input.js.controlled
*/

$numeric-input-button-height: ($pt-button-height / 2);
$dark-numeric-input-button-height: ($pt-button-height / 2) - 1px;

.pt-numeric-input {

  // we need a super-specific selector here to override very-specific selectors
  // defined elsewhere. -.-
  .pt-button-group.pt-vertical > .pt-button {
    @include pt-button-height($pt-button-height);

    // change to display: block to avoid a weird, jagged focus outline due to
    // the reduced line-height.
    display: block;
    min-height: $numeric-input-button-height;
    line-height: $numeric-input-button-height;

    &:first-child {
      border-radius: 0 $pt-border-radius 0 0;
      // the bottom (last-child) button is 1px shorter to fit the bottom border
      // on the top (first-child) button above it.
      height: $numeric-input-button-height + 1;
    }

    &:last-child {
      border-radius: 0 0 $pt-border-radius 0;
      height: $numeric-input-button-height;
    }

    &[class*="pt-icon-"]::before {
      // these styles are super unintuitive, but they basically are present to
      // ensure that the focus outlines around the buttons will be perfect
      // rectangles. delete any one of these styles, and the focus outlines will
      // become jagged, because we're trying to fit a 16-px tall icon inside a
      // ~15px-tall button.
      display: block;
      height: $pt-button-height / 2 - 1;
      overflow: hidden;
      line-height: $pt-button-height / 2 - 1;
    }
  }

  // fix button border radii when the buttons are on the left
  .pt-button-group:first-child.pt-vertical > .pt-button {
    &:first-child {
      border-radius: $pt-border-radius 0 0 0;
    }

    &:last-child {
      border-radius: 0 0 0 $pt-border-radius;
    }
  }

  // need to shrink button sizes slightly in dark theme
  .pt-dark & {
    .pt-button-group.pt-vertical > .pt-button {
      min-height: $dark-numeric-input-button-height;
      line-height: $dark-numeric-input-button-height;

      &:first-child {
        // the bottom (last-child) button is 1px shorter to fit the bottom border
        // on the top (first-child) button above it.
        height: $dark-numeric-input-button-height + 1;
      }

      &:last-child {
        height: $dark-numeric-input-button-height;
      }
    }
  }
}
