@import "~@blueprintjs/core/lib/css/blueprint-modern.css";
@import "~@blueprintjs/colors/lib/scss/colors";
@import "~@blueprintjs/core/lib/scss/variables";

$dark-content-background-color: $dark-gray3;
$content-background-color: $light-gray4;
$topbar-background-color: $white;
$dark-topbar-background-color: $dark-gray4;

.examples-root {
  align-items: center;
  background-color: $content-background-color;
  display: flex;
  flex-direction: column;

  &.#{$ns}-dark {
    background-color: $dark-content-background-color;
  }
}

.toggle-mode-button-container {
  background-color: $topbar-background-color;
  box-shadow: 0 1px 0 $pt-divider-black;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;


  &.#{$ns}-dark {
    background-color: $dark-topbar-background-color;
  }
}

.toggle-mode-button {
  margin: 10px;
  max-width: 150px;
}

.examples-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.example-row {
  display: flex;
  flex-direction: row;

  > :not(:last-child) {
    margin-right: 10px;
  }
}

.example-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  > :not(:last-child) {
    margin-bottom: 10px;
  }

  &.horizontal {
    flex-direction: row;
    justify-content: center;

    > :not(:last-child) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}

.tag-container {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 10px;
  }
}
