// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "../common/variables";
@import "../cell/common";

$region-default-color: $gray3 !default;
$region-selected-color: $pt-intent-primary !default;

.bp-table-overlay-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $region-layer-z-index;
  overflow: hidden;
  pointer-events: none;
}

.bp-table-overlay {
  position: absolute;
}

.bp-table-region {
  border: $cell-border-width solid $region-default-color;
  background-color: rgba($region-default-color, 0.1);
}

.bp-table-selection-region {
  border: $cell-border-width solid $region-selected-color;
  background-color: rgba($region-selected-color, 0.1);

  .bp-table-column-headers & {
    // Issue #120 - Don't actually overlay a color since it causes artifacts.
    background-color: transparent;
  }

  .bp-table-row-headers & {
    // Issue #120
    background-color: transparent;
  }
}

.bp-table-focus-region {
  border: 2px solid $blue3;
}

.bp-table-column-headers .bp-table-region {
  border-bottom: none;
}

.bp-table-row-headers .bp-table-region {
  border-right: none;
}

.bp-table-vertical-guide {
  top: 0;
  bottom: 0;
}

.bp-table-horizontal-guide {
  right: 0;
  left: 0;
}

.bp-table-reordering-cursor-overlay {
  cursor: grabbing;

  .bp-table-reordering & {
    pointer-events: all;
  }
}
