// Copyright 2023 Palantir Technologies, Inc. All rights reserved.
@use "sass:math";
$ns: bp4;
$icons16-family: "blueprint-icons-16" !default;
$pt-font-family: -apple-system,
                 "BlinkMacSystemFont",
                 "Segoe UI",
                 "Roboto",
                 "Oxygen",
                 "Ubuntu",
                 "Cantarell",
                 "Open Sans",
                 "Helvetica Neue",
                 $icons16-family,
                 sans-serif !default;
$pt-border-radius: 2px !default;
$black: #111418 !default;
$gray1: #5f6b7c !default;
$white: #ffffff !default;
$pt-divider-black: rgba($black, 0.15) !default;
$pt-border-shadow-opacity: 0.1 !default;
$pt-drop-shadow-opacity: 0.2 !default;
$pt-elevation-shadow-0: 0 0 0 1px $pt-divider-black !default;
$pt-elevation-shadow-1: border-shadow($pt-border-shadow-opacity),
                        0 1px 1px rgba($black, $pt-drop-shadow-opacity) !default;
$pt-text-color-disabled: rgba($gray1, 0.6) !default;
$pt-dark-divider-white: rgba($white, 0.2) !default;
$pt-dark-popover-border-color: hsl(215deg, 3%, 38%) !default;
$test-map: (
  "first" : $black,
  "second": $white,
  "third" : $gray1,
) !default;
