// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@use "@blueprintjs/core/src/common/color-aliases" as *;
@use "@blueprintjs/core/src/common/flex" as *;
@use "@blueprintjs/core/src/common/variables" as *;
@use "@blueprintjs/docs-theme/src/styles/variables" as *;

.blueprint-welcome {
  @include pt-flex-container(row, $content-padding);
  justify-content: space-between;
  margin: ($content-padding * 2) 0;
  text-align: center;

  .blueprint-welcome-card {
    flex-grow: 1;
  }

  .#{$ns}-heading {
    color: inherit;
    margin: $content-padding 0 0;
  }

  .#{$ns}-icon {
    color: $pt-icon-color;

    .#{$ns}-dark & {
      /* stylelint-disable-next-line declaration-no-important */
      color: $pt-dark-icon-color !important;
    }
  }
}
