// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "~@blueprintjs/core/src/common/variables";
@import "~@blueprintjs/core/src/common/mixins";

$container-width: $pt-grid-size * 100;

$sidebar-width: $pt-grid-size * 22;
$sidebar-padding: $pt-grid-size;

$content-width: $container-width - $sidebar-width;
$content-padding: $pt-grid-size * 3;
$content-background-color: $light-gray5;
$dark-content-background-color: $dark-gray3;

$options-width: $pt-grid-size * 18;
$options-margin: $pt-grid-size * 3;
