// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@import "~@blueprintjs/core/src/common/variables";
@import "~@blueprintjs/core/src/components/skeleton/common";
@import "../cell/common";

@keyframes skeleton-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin disable-interaction() {
  cursor: default;
  pointer-events: none;
}

@mixin vertical-center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin table-skeleton($skeleton-height) {
  .pt-skeleton {
    opacity: 0;
    height: $skeleton-height;
    animation: $cell-transition-duration linear forwards skeleton-fade-in, $skeleton-animation;
    animation-delay: 0s, $cell-transition-duration;
  }
}
