// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@use "@blueprintjs/core/src/common/variables";
@use "@blueprintjs/core/src/components/skeleton/common" as skeleton-common;
@use "../cell/common";

@keyframes skeleton-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin table-skeleton() {
  .#{variables.$ns}-skeleton {
    animation:
      common.$cell-transition-duration linear forwards skeleton-fade-in,
      skeleton-common.$skeleton-animation;
    animation-delay: 0s, common.$cell-transition-duration;
    height: variables.$pt-grid-size * 0.5;
    opacity: 0;
  }
}
