// Copyright 2017 Palantir Technologies, Inc. All rights reserved.

@import "~@blueprintjs/core/src/common/variables";
@import "~@blueprintjs/core/src/components/progress/common";

@keyframes skeleton-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bp-table-cell,
.bp-table-header {
  &.pt-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;

    // Always set color to transparent so cell content can fade-in when transitioning from the
    // loading state
    // stylelint-disable-next-line declaration-no-important
    color: transparent !important;
    pointer-events: none;
  }

  .pt-skeleton {
    opacity: 0;
    height: $pt-grid-size / 2;

    // Glow animation is defined in Blueprint core progress styles
    // stylelint-disable-next-line no-unknown-animations
    animation: $skeleton-animation-duration linear infinite glow,
      ($pt-transition-duration * 3) linear forwards skeleton-fade-in;
  }
}
