// Copyright 2016 Palantir Technologies, Inc. All rights reserved.

@import "~@blueprintjs/core/src/common/variables";

// TODO: use Blueprint intents instead of duplicating...
$pt-intent-colors: (
  "primary": $pt-intent-primary,
  "success": $pt-intent-success,
  "warning": $pt-intent-warning,
  "danger" : $pt-intent-danger,
);

$pt-intent-text-colors: (
  "primary": $pt-intent-primary,
  "success": $pt-intent-success,
  "warning": $pt-intent-warning,
  "danger" : $pt-intent-danger,
);

$pt-dark-intent-text-colors: (
  "primary": $blue4,
  "success": $green4,
  "warning": $orange4,
  "danger" : $red4,
);

$cell-border-width : 1px !default;

/*
Color aliases
*/

$table-background-color: $light-gray5 !default;
$dark-table-background-color: $dark-gray4 !default;

/*
Cursors
*/

// Selecting
$select-column-cursor: s-resize !default;
$select-row-cursor: e-resize !default;
$select-cell-cursor: cell !default;
$select-text-cursor: text !default;

// Resizing
$resize-vertical-cursor: ew-resize !default;
$resize-horizontal-cursor: ns-resize !default;

// Actions
$action-cursor: pointer !default;

/*
Z-index layers
*/
$region-layer-z-index: $pt-z-index-overlay !default;
$interactive-cell-z-index: $pt-z-index-overlay + 1 !default;
